.css_idcredor_label {text-align:right;}
.css_idcredor_line {text-align:left;}
.css_idcredor_obj {text-align:left;}
.css_nomecredor_label {text-align:right;}
.css_nomecredor_line { }
.css_nomecredor_obj { }
