.css_idmultasavarias__label { }
.css_idmultasavarias__line {text-align:left;}
.css_idmultasavarias__obj {text-align:left;}
.css_idfklocacao__label { }
.css_idfklocacao__line {text-align:left;}
.css_idfklocacao__obj {text-align:left;}
.css_datamultaavarias__label {text-align:center;}
.css_datamultaavarias__line {text-align:center;}
.css_datamultaavarias__obj {text-align:center;}
.css_descricaomultasavarias__label {text-align:center;}
.css_descricaomultasavarias__line { }
.css_descricaomultasavarias__obj { }
.css_valormultasavarias__label {text-align:center;}
.css_valormultasavarias__line {text-align:center;}
.css_valormultasavarias__obj {text-align:center;}
.css_pagomultasavarias__label {text-align:center;}
.css_pagomultasavarias__line {color:#0033FF;font-weight:bold;text-align:center;}
.css_pagomultasavarias__obj {text-align:center;}
