.css_idcliente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: center;}
.css_nomecliente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_nomecliente_grid_line {vertical-align: top;text-align: left;}
.css_enderecocliente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_enderecocliente_grid_line {vertical-align: top;text-align: left;}
.css_cpfcliente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_cpfcliente_grid_line {vertical-align: top;text-align: center;}
.css_validadecnhcliente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_validadecnhcliente_grid_line {vertical-align: top;text-align: center;}
.css_idfkestadocliente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_idfkestadocliente_grid_line {vertical-align: top;text-align: center;}
.css_idfkcidadecliente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_idfkcidadecliente_grid_line {vertical-align: top;text-align: center;}
.css_fonecliente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fonecliente_grid_line {vertical-align: top;text-align: center;}
.css_fone2cliente_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fone2cliente_grid_line {vertical-align: top;text-align: center;}
