.css_idcliente_label {text-align:right;}
.css_idcliente_line {text-align:left;}
.css_idcliente_obj {text-align:left;}
.css_enderecocliente_label {text-align:right;}
.css_enderecocliente_line { }
.css_enderecocliente_obj { }
.css_nomecliente_label {text-align:right;}
.css_nomecliente_line { }
.css_nomecliente_obj { }
.css_redesocial_label {text-align:right;}
.css_redesocial_line { }
.css_redesocial_obj { }
.css_idfkcidadecliente_label {text-align:right;}
.css_idfkcidadecliente_line {text-align:left;}
.css_idfkcidadecliente_obj {text-align:left;}
.css_idfkestadocliente_label {text-align:right;}
.css_idfkestadocliente_line {text-align:left;}
.css_idfkestadocliente_obj {text-align:left;}
.css_fonecliente_label {text-align:right;}
.css_fonecliente_line {text-align:left;}
.css_fonecliente_obj {text-align:left;}
.css_fone2cliente_label {text-align:right;}
.css_fone2cliente_line {text-align:left;}
.css_fone2cliente_obj {text-align:left;}
.css_numcnhcliente_label {text-align:right;}
.css_numcnhcliente_line {text-align:left;}
.css_numcnhcliente_obj {text-align:left;}
.css_validadecnhcliente_label {text-align:right;}
.css_validadecnhcliente_line {text-align:left;}
.css_validadecnhcliente_obj {text-align:left;}
.css_cpfcliente_label {text-align:right;}
.css_cpfcliente_line {text-align:left;}
.css_cpfcliente_obj {text-align:left;}
.css_rgcliente_label {text-align:right;}
.css_rgcliente_line {text-align:left;}
.css_rgcliente_obj {text-align:left;}
.css_expedrg_label {text-align:right;}
.css_expedrg_line { }
.css_expedrg_obj { }
.css_idfkufexpedrg_label {text-align:right;}
.css_idfkufexpedrg_line {text-align:left;}
.css_idfkufexpedrg_obj {text-align:left;}
.css_imgcnh_label {text-align:right;}
.css_imgcnh_line { }
.css_imgcnh_obj { }
.css_datanasc_label {text-align:right;}
.css_datanasc_line { }
.css_datanasc_obj { }
