.css_idlocacao_det_label {text-align: right;vertical-align: middle;}
.css_idlocacao_det_line {height:0px;text-align: right;}
.css_idfkclientelocacao_det_label {text-align: right;vertical-align: middle;}
.css_idfkclientelocacao_det_line {height:0px;text-align: right;}
.css_idfkveiculolocacao_det_label {text-align: right;vertical-align: middle;}
.css_idfkveiculolocacao_det_line {height:0px;text-align: right;}
.css_datasaidalocacao_det_label {text-align: right;vertical-align: middle;}
.css_datasaidalocacao_det_line {height:0px;text-align: right;}
.css_horasaidalocacao_det_label {text-align: right;vertical-align: middle;}
.css_horasaidalocacao_det_line {height:0px;text-align: right;}
.css_kmsaidalocacao_det_label {text-align: right;vertical-align: middle;}
.css_kmsaidalocacao_det_line {height:0px;text-align: right;}
.css_dataretornolocacao_det_label {text-align: right;vertical-align: middle;}
.css_dataretornolocacao_det_line {height:0px;text-align: right;}
.css_horaretornolocacao_det_label {text-align: right;vertical-align: middle;}
.css_horaretornolocacao_det_line {height:0px;text-align: right;}
.css_kmretornolocacao_det_label {text-align: right;vertical-align: middle;}
.css_kmretornolocacao_det_line {height:0px;text-align: right;}
.css_qtddiarias_det_label {text-align: right;vertical-align: middle;}
.css_qtddiarias_det_line {height:0px;text-align: right;}
.css_descontolocacao_det_label {text-align: right;vertical-align: middle;}
.css_descontolocacao_det_line {height:0px;text-align: right;}
.css_valorliquidolocacao_det_label {text-align: right;vertical-align: middle;}
.css_valorliquidolocacao_det_line {color:#006600;font-weight:bold;height:0px;text-align: right;}
.css_obslocacao_det_label {text-align: right;vertical-align: middle;}
.css_obslocacao_det_line {height:0px;text-align: right;}
