.css_idcontaspagar_label {text-align:right;}
.css_idcontaspagar_line {text-align:left;}
.css_idcontaspagar_obj {text-align:left;}
.css_idfkcredorcontaspagar_label {text-align:right;}
.css_idfkcredorcontaspagar_line {text-align:left;}
.css_idfkcredorcontaspagar_obj {text-align:left;}
.css_datavencimentocontaspagar_label {text-align:right;}
.css_datavencimentocontaspagar_line { }
.css_datavencimentocontaspagar_obj { }
.css_datapagamentocontaspagar_label {text-align:right;}
.css_datapagamentocontaspagar_line { }
.css_datapagamentocontaspagar_obj { }
.css_valorcontaspagar_label {text-align:right;}
.css_valorcontaspagar_line {text-align:left;}
.css_valorcontaspagar_obj {text-align:left;}
.css_valorpagocontaspagar_label {text-align:right;}
.css_valorpagocontaspagar_line {text-align:left;}
.css_valorpagocontaspagar_obj {text-align:left;}
.css_qtdparcelascontaspagar_label {text-align:right;}
.css_qtdparcelascontaspagar_line {text-align:left;}
.css_qtdparcelascontaspagar_obj {text-align:left;}
.css_ordemparcelacontaspagar_label {text-align:right;}
.css_ordemparcelacontaspagar_line {text-align:left;}
.css_ordemparcelacontaspagar_obj {text-align:left;}
.css_quitadocontaspagar_label {text-align:right;}
.css_quitadocontaspagar_line {text-align:left;}
.css_quitadocontaspagar_obj {text-align:left;}
.css_obscontaspagar_label {text-align:right;}
.css_obscontaspagar_line { }
.css_obscontaspagar_obj { }
.css_diasaviso_label {text-align:right;}
.css_diasaviso_line {text-align:left;}
.css_diasaviso_obj {text-align:center;}
