.css_idcustoveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_idcustoveiculo_grid_line {vertical-align: top;text-align: center;}
.css_idfkveiculocustoveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_idfkveiculocustoveiculo_grid_line {vertical-align: top;text-align: center;}
.css_datacustoveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_datacustoveiculo_grid_line {vertical-align: top;text-align: center;}
.css_descricaocustoveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_descricaocustoveiculo_grid_line {vertical-align: top;text-align: right;}
.css_valorcustoveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_valorcustoveiculo_grid_line {color:#990000;font-weight:bold;vertical-align: top;text-align: center;}
.css_valorcustoveiculo_tot_ger {text-align: center;}
