.css_idcustoveiculo_det_label {text-align: right;vertical-align: middle;}
.css_idcustoveiculo_det_line {height:0px;text-align: right;}
.css_idfkveiculocustoveiculo_det_label {text-align: right;vertical-align: middle;}
.css_idfkveiculocustoveiculo_det_line {height:0px;text-align: right;}
.css_datacustoveiculo_det_label {text-align: right;vertical-align: middle;}
.css_datacustoveiculo_det_line {height:0px;text-align: right;}
.css_descricaocustoveiculo_det_label {text-align: right;vertical-align: middle;}
.css_descricaocustoveiculo_det_line {height:0px;text-align: right;}
.css_valorcustoveiculo_det_label {text-align: right;vertical-align: middle;}
.css_valorcustoveiculo_det_line {color:#990000;font-weight:bold;height:0px;text-align: right;}
