.css_idmultasavarias_det_label {text-align: left;vertical-align: middle;}
.css_idmultasavarias_det_line {height:0px;text-align: left;}
.css_idfklocacao_det_label {text-align: left;vertical-align: middle;}
.css_idfklocacao_det_line {height:0px;text-align: left;}
.css_datamultaavarias_det_label {text-align: left;vertical-align: middle;}
.css_datamultaavarias_det_line {height:0px;text-align: left;}
.css_descricaomultasavarias_det_label {text-align: left;vertical-align: middle;}
.css_descricaomultasavarias_det_line {height:0px;text-align: left;}
.css_valormultasavarias_det_label {text-align: left;vertical-align: middle;}
.css_valormultasavarias_det_line {height:0px;text-align: left;}
.css_pagomultasavarias_det_label {text-align: left;vertical-align: middle;}
.css_pagomultasavarias_det_line {color:#0033CC;font-weight:bold;height:0px;text-align: left;}
