.css_datamultaavarias_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_datamultaavarias_grid_line {vertical-align: top;text-align: center;}
.css_descricaomultasavarias_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_descricaomultasavarias_grid_line {vertical-align: top;text-align: right;}
.css_valormultasavarias_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_valormultasavarias_grid_line {vertical-align: top;text-align: center;}
.css_valormultasavarias_tot_ger {text-align: center;}
.css_pagomultasavarias_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_pagomultasavarias_grid_line {color:#0033CC;font-weight:bold;vertical-align: top;text-align: center;}
.css_idmultasavarias_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idmultasavarias_grid_line {vertical-align: top;text-align: right;}
.css_idfklocacao_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idfklocacao_grid_line {vertical-align: top;text-align: right;}
