.css_idmarca_label {text-align:right;}
.css_idmarca_line {text-align:left;}
.css_idmarca_obj {text-align:left;}
.css_nomemarca_label {text-align:right;}
.css_nomemarca_line { }
.css_nomemarca_obj { }
