.css_idlucratividade_det_label {text-align: right;vertical-align: middle;}
.css_idlucratividade_det_line {height:0px;text-align: right;}
.css_idfklocacao_det_label {text-align: right;vertical-align: middle;}
.css_idfklocacao_det_line {height:0px;text-align: right;}
.css_valordiaria_det_label {text-align: right;vertical-align: middle;}
.css_valordiaria_det_line {color:#003300;font-weight:bold;height:0px;text-align: right;}
.css_datadiaria_det_label {text-align: right;vertical-align: middle;}
.css_datadiaria_det_line {height:0px;text-align: right;}
.css_idfkveiculo_det_label {text-align: right;vertical-align: middle;}
.css_idfkveiculo_det_line {height:0px;text-align: right;}
