.css_idfklocacao_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_idfklocacao_grid_line {vertical-align: top;text-align: center;}
.css_idfkveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_idfkveiculo_grid_line {vertical-align: top;text-align: right;}
.css_datadiaria_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_datadiaria_grid_line {vertical-align: top;text-align: center;}
.css_valordiaria_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_valordiaria_grid_line {color:#003300;font-weight:bold;vertical-align: top;text-align: center;}
.css_valordiaria_sub_tot {text-align: center;}
.css_valordiaria_tot_ger {text-align: center;}
.css_idlucratividade_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idlucratividade_grid_line {vertical-align: top;text-align: right;}
