.css_idcustoveiculo_label {text-align:right;}
.css_idcustoveiculo_line { }
.css_idcustoveiculo_obj { }
.css_idfkveiculocustoveiculo_label {text-align:right;}
.css_idfkveiculocustoveiculo_line { }
.css_idfkveiculocustoveiculo_obj { }
.css_datacustoveiculo_label {text-align:right;}
.css_datacustoveiculo_line { }
.css_datacustoveiculo_obj { }
.css_descricaocustoveiculo_label {text-align:right;}
.css_descricaocustoveiculo_line { }
.css_descricaocustoveiculo_obj { }
.css_valorcustoveiculo_label {text-align:right;}
.css_valorcustoveiculo_line {text-align:left;}
.css_valorcustoveiculo_obj {text-align:left;}
