.css_idcontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_idcontaspagar_det_line {height:0px;text-align: right;}
.css_idfkcredorcontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_idfkcredorcontaspagar_det_line {height:0px;text-align: right;}
.css_datavencimentocontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_datavencimentocontaspagar_det_line {height:0px;text-align: right;}
.css_datapagamentocontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_datapagamentocontaspagar_det_line {height:0px;text-align: right;}
.css_valorcontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_valorcontaspagar_det_line {color:#990000;font-weight:bold;height:0px;text-align: right;}
.css_valorpagocontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_valorpagocontaspagar_det_line {color:#003300;font-weight:bold;height:0px;text-align: right;}
.css_qtdparcelascontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_qtdparcelascontaspagar_det_line {height:0px;text-align: right;}
.css_ordemparcelacontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_ordemparcelacontaspagar_det_line {height:0px;text-align: right;}
.css_quitadocontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_quitadocontaspagar_det_line {height:0px;text-align: right;}
.css_obscontaspagar_det_label {text-align: right;vertical-align: middle;}
.css_obscontaspagar_det_line {height:0px;text-align: right;}
.css_diasaviso_det_label {text-align: right;vertical-align: middle;}
.css_diasaviso_det_line {height:0px;text-align: right;}
