.css_idveiculo_label {text-align:right;}
.css_idveiculo_line {text-align:left;}
.css_idveiculo_obj {text-align:left;}
.css_idfkmarcaveiculo_label {text-align:right;}
.css_idfkmarcaveiculo_line {text-align:left;}
.css_idfkmarcaveiculo_obj {text-align:left;}
.css_modeloveiculo_label {text-align:right;}
.css_modeloveiculo_line { }
.css_modeloveiculo_obj { }
.css_anoveiculo_label {text-align:right;}
.css_anoveiculo_line {text-align:left;}
.css_anoveiculo_obj {text-align:left;}
.css_placaveiculo_label {text-align:right;}
.css_placaveiculo_line { }
.css_placaveiculo_obj { }
.css_corveiculo_label {text-align:right;}
.css_corveiculo_line { }
.css_corveiculo_obj { }
.css_kmatualveiculo_label {text-align:right;}
.css_kmatualveiculo_line {text-align:left;}
.css_kmatualveiculo_obj {text-align:left;}
.css_valordiaria_label {text-align:right;}
.css_valordiaria_line {text-align:left;}
.css_valordiaria_obj {text-align:left;}
.css_proxtrocaoleoveiculo_label {text-align:right;}
.css_proxtrocaoleoveiculo_line {text-align:left;}
.css_proxtrocaoleoveiculo_obj {text-align:left;}
.css_proxtrocafiltroveiculo_label {text-align:right;}
.css_proxtrocafiltroveiculo_line {text-align:left;}
.css_proxtrocafiltroveiculo_obj {text-align:left;}
.css_avisotrocaoleoveiculo_label {text-align:right;}
.css_avisotrocaoleoveiculo_line {text-align:left;}
.css_avisotrocaoleoveiculo_obj {text-align:left;}
.css_avisotrocafiltroveiculo_label {text-align:right;}
.css_avisotrocafiltroveiculo_line {text-align:left;}
.css_avisotrocafiltroveiculo_obj {text-align:left;}
.css_chassiveiculo_label {text-align:right;}
.css_chassiveiculo_line {text-align:left;}
.css_chassiveiculo_obj {text-align:left;}
.css_datacompraveiculo_label {text-align:right;}
.css_datacompraveiculo_line { }
.css_datacompraveiculo_obj { }
.css_statusveiculo_label {text-align:right;}
.css_statusveiculo_line {text-align:left;}
.css_statusveiculo_obj {text-align:left;}
.css_proxtrocacorreiaveiculo_label {text-align:right;}
.css_proxtrocacorreiaveiculo_line {text-align:left;}
.css_proxtrocacorreiaveiculo_obj {text-align:left;}
.css_proxtrocapastilhaveiculo_label {text-align:right;}
.css_proxtrocapastilhaveiculo_line {text-align:left;}
.css_proxtrocapastilhaveiculo_obj {text-align:left;}
.css_avisotrocacorreiaveiculo_label {text-align:right;}
.css_avisotrocacorreiaveiculo_line {text-align:left;}
.css_avisotrocacorreiaveiculo_obj {text-align:left;}
.css_avisotrocapastilhaveiculo_label {text-align:right;}
.css_avisotrocapastilhaveiculo_line {text-align:left;}
.css_avisotrocapastilhaveiculo_obj {text-align:left;}
