.css_idveiculo_det_label {text-align: left;vertical-align: middle;}
.css_idveiculo_det_line {height:0px;text-align: left;}
.css_idfkmarcaveiculo_det_label {text-align: left;vertical-align: middle;}
.css_idfkmarcaveiculo_det_line {height:0px;text-align: left;}
.css_modeloveiculo_det_label {text-align: left;vertical-align: middle;}
.css_modeloveiculo_det_line {height:0px;text-align: left;}
.css_anoveiculo_det_label {text-align: left;vertical-align: middle;}
.css_anoveiculo_det_line {height:0px;text-align: left;}
.css_placaveiculo_det_label {text-align: left;vertical-align: middle;}
.css_placaveiculo_det_line {height:0px;text-align: left;}
.css_corveiculo_det_label {text-align: left;vertical-align: middle;}
.css_corveiculo_det_line {height:0px;text-align: left;}
.css_kmatualveiculo_det_label {text-align: left;vertical-align: middle;}
.css_kmatualveiculo_det_line {height:0px;text-align: left;}
.css_valordiaria_det_label {text-align: left;vertical-align: middle;}
.css_valordiaria_det_line {height:0px;text-align: left;}
.css_proxtrocaoleoveiculo_det_label {text-align: left;vertical-align: middle;}
.css_proxtrocaoleoveiculo_det_line {height:0px;text-align: left;}
.css_proxtrocafiltroveiculo_det_label {text-align: left;vertical-align: middle;}
.css_proxtrocafiltroveiculo_det_line {height:0px;text-align: left;}
.css_avisotrocaoleoveiculo_det_label {text-align: left;vertical-align: middle;}
.css_avisotrocaoleoveiculo_det_line {height:0px;text-align: left;}
.css_avisotrocafiltroveiculo_det_label {text-align: left;vertical-align: middle;}
.css_avisotrocafiltroveiculo_det_line {height:0px;text-align: left;}
.css_chassiveiculo_det_label {text-align: left;vertical-align: middle;}
.css_chassiveiculo_det_line {height:0px;text-align: left;}
.css_datacompraveiculo_det_label {text-align: left;vertical-align: middle;}
.css_datacompraveiculo_det_line {height:0px;text-align: left;}
.css_statusveiculo_det_label {text-align: left;vertical-align: middle;}
.css_statusveiculo_det_line {height:0px;text-align: left;}
