.css_idveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_idveiculo_grid_line {vertical-align: top;text-align: center;}
.css_idfkmarcaveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_idfkmarcaveiculo_grid_line {vertical-align: top;text-align: left;}
.css_modeloveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_modeloveiculo_grid_line {vertical-align: top;text-align: left;}
.css_anoveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_anoveiculo_grid_line {vertical-align: top;text-align: center;}
.css_placaveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_placaveiculo_grid_line {vertical-align: top;text-align: center;}
.css_corveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_corveiculo_grid_line {vertical-align: top;text-align: center;}
.css_kmatualveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_kmatualveiculo_grid_line {vertical-align: top;text-align: right;}
.css_statusveiculo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_statusveiculo_grid_line {vertical-align: top;text-align: center;}
